<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Execution</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/x-icon" href="/finish.png">
</head>
<body>
	
	<div class="container">
	    <h2>Upload an Image</h2>
		<form action="/ctf4/upload" method="POST" enctype="multipart/form-data">
			<input class="input-field" type="file" name="file" required>
			<button class="button" type="submit">Upload</button>
		</form>
		
		<% if (typeof temp !== "undefined" && temp !== null) { %>
			<% if (temp === 0) { %>
				<p style="color: red;">Unauthorized Request: Access Denied</p>
			<% } else if (temp === 1) { %>
				<p style="color: green;">Vulnerable File Upload Successful. Execution Allowed</p>
			<% } else if (temp === 2) { %>
				<p style="color: blue;">File Uploaded. No vulnerability found inside file.</p>
			<% } else if (temp === 3) { %>
				<p style="color: gray;">Upload a shell script embedded vulnerable image</p>
			<% } %>
		<% } %>

	</div>
	
</body>
</html>
