<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSRF</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/x-icon" href="/finish.png">
</head>
<body>
	<div class="container">
	    <p >Can you guess the login end-point?</p>
    <button class="button" onclick="alert('Nope! Keep Trying')">Login</button>	
	</div>


</body>
</html>
