<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brute Force</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/x-icon" href="/finish.png">
</head>
<body>
  <div class="container">
    <h2>Welcome, <%= user %>!</h2>
    <h3>If you are an admin, look for COOKIES!!! 
    <form action="/ctf1/comment" method="POST">
        <textarea class="input-field" name="comment" required></textarea><br>
        <button class="button" type="submit">Post Comment</button>
    </form>

    <h3>Comments:</h3>
    <ul>
        <% comments.forEach(comment => { %>
            <li><strong><%= comment.user %></strong>: <%= comment.comment %> 
                <% if (isAdmin) { %>
                    <form action="/ctf1/delete/<%= comment.id %>" method="POST" style="display:inline;">
                        <button class="button" type="submit">Delete</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <a href="/ctf1/logout"><button class="button">Logout</button></a>
    </div>
    
</body>
</html>
